

@{
    ViewBag.Title = "Home Page";
}


<h2>Entity Framework enterprise example</h2>
<h3>Contexts:</h3>
<p>@Html.ActionLink("Human Resources", "Index", "Employee")</p>
<p>@Html.ActionLink("Payroll Processing", "Index", "Payroll")</p>


