@model decimal

@{
    ViewBag.Title = "Process payroll";
}

<h2>Process payroll</h2>

<p>Completed processing</p>

<p>Total cost is £@Model</p>

<p>@Html.ActionLink("Choose another department", "Index")</p>
